body.demos .container-fluid {
    max-width: 1080px
}
body {
/*    background-image: radial-gradient(#f2fcfe, #1c92d2);*/
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Helvetica' sans-serif;
    line-height: 1.80857;
}
a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
                                    
                                        /*NEWS AND RESOURCES*/

.item-h1 {
    height: 100% !important;
    height: auto !important;
}
.gal-img
{
    height: 30vh;
    width: 30vw;
}

.isotope-item {
    z-index: 2;
    padding: 0;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.portfolio-filter ul {
    padding: 0;
    z-index: 2;
    display: block;
    position: relative;
    margin: 0;
}

.portfolio-filter ul li {
    border-radius: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.portfolio-filter ul li:last-child:after {
    content: "";
}

.portfolio-filter ul li .btn-dark {
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #009ee3 !important;
    color: #393939;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 35px;
}

.da-thumbs {
    list-style: none;
    position: relative;
    padding: 0;
}

.da-thumbs .pitem {
    margin: 0;
    padding: 15px;
    position: relative;
}

.da-thumbs .pitem a,
.da-thumbs .pitem a img {
    display: block;
    position: relative;
}

.da-thumbs .pitem a {
    overflow: hidden;
}

.da-thumbs .pitem a div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.da-thumbs .pitem a div h3 {
    display: block;
    color: #ffffff;
    font-size: 20px;
    padding: 30px 15px;
    text-transform: capitalize;
    font-weight: normal;
}

.da-thumbs .pitem a div h3 small {
    display: block;
    color: #ffffff;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
}

.da-thumbs .pitem a div i {
    background-color: #009ee3;
    position: absolute;
    color: #ffffff !important;
    bottom: 0;
    font-size: 15px;
    z-index: 12;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
	border-radius: 25px 0px 0px 0px;
}

                                                /*PRELOADER*/

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 11000;
    position: fixed;
    display: block;
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader {
    position: absolute;
    margin: 0 auto;
    left: 1%;
    right: 1%;
    top: 45%;
    width: 95px;
    height: 95px;
    background: center center no-repeat none;
    background-size: 95px 95px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}



.loader {
  
  position: absolute;
    margin: 0 auto;
    left: 1%;
    right: 1%;
    top: 45%;
  width: 75px;
  height: 100px;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background-color: aquamarine;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  -webkit-transform: scale(1, 0.2);
          transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
          animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
          animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  -webkit-transform: scale(1, 0.6);
          transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
          animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
          animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
          animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-radius: 50%;
  -webkit-animation: ball 4s infinite;
          animation: ball 4s infinite;
}
@keyframes ball {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(8px, -14px);
            transform: translate(8px, -14px);
  }
  10% {
    -webkit-transform: translate(15px, -10px);
            transform: translate(15px, -10px);
  }
  17% {
    -webkit-transform: translate(23px, -24px);
            transform: translate(23px, -24px);
  }
  20% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  27% {
    -webkit-transform: translate(38px, -34px);
            transform: translate(38px, -34px);
  }
  30% {
    -webkit-transform: translate(45px, -30px);
            transform: translate(45px, -30px);
  }
  37% {
    -webkit-transform: translate(53px, -44px);
            transform: translate(53px, -44px);
  }
  40% {
    -webkit-transform: translate(60px, -40px);
            transform: translate(60px, -40px);
  }
  50% {
    -webkit-transform: translate(60px, 0);
            transform: translate(60px, 0);
  }
  57% {
    -webkit-transform: translate(53px, -14px);
            transform: translate(53px, -14px);
  }
  60% {
    -webkit-transform: translate(45px, -10px);
            transform: translate(45px, -10px);
  }
  67% {
    -webkit-transform: translate(37px, -24px);
            transform: translate(37px, -24px);
  }
  70% {
    -webkit-transform: translate(30px, -20px);
            transform: translate(30px, -20px);
  }
  77% {
    -webkit-transform: translate(22px, -34px);
            transform: translate(22px, -34px);
  }
  80% {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
  }
  87% {
    -webkit-transform: translate(7px, -44px);
            transform: translate(7px, -44px);
  }
  90% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@keyframes barUp1 {
  0% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
}
@-webkit-keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@keyframes barUp2 {
  0% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  40% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  50% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  90% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
}
@-webkit-keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@keyframes barUp3 {
  0% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
  100% {
    -webkit-transform: scale(1, 0.6);
            transform: scale(1, 0.6);
  }
}
@-webkit-keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@keyframes barUp4 {
  0% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  40% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  90% {
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  100% {
    -webkit-transform: scale(1, 0.8);
            transform: scale(1, 0.8);
  }
}
@-webkit-keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes barUp5 {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  90% {
    -webkit-transform: scale(1, 0.2);
            transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

                                                /*TOP-BAR*/

.top-bar{
	background-image: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}
.left-top{
	padding: 3px 0px; 
	float: right;
}
.email-box{
	display: inline-block;
	margin-right: 20px;
}
.email-box a{
	color: #ffffff;
	font-size: 16px;
}
.email-box a:hover{
	color: #004f71;
}
.email-box a i{
	padding: 3px 5px;
}
.phone-box{
	display: inline-block;
}

.phone-box a{
	color: #ffffff;
	font-size: 16px;
}
.phone-box a:hover{
	color: #004f71;
}
.phone-box a i{
	padding: 0px 5px;
}

.social-box{
    float: left;
}

.social-box ul li{
	display: inline-block;
	padding-left: 10px;
}

.social-box ul li a{
	color: #ffffff;
	font-size: 20px;
}
.social-box ul li a:hover{
	color: #004f71;
}

                                        /*NAV-BAR*/

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
		display: block;
    
	}
	.dropdown-menu{
		margin-top: 1px;
	}
	.dropdown-toggle{
		margin-bottom: 1px;
    }
.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		margin-bottom: 0;
	}
.header_style_01 {
    background-color: #009ee3;
    display: block;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
    z-index: 111;
}

.header_style_01 .navbar-default {
    background-color: transparent;
    border: 0;
	border-radius: 0px;
}

.header_style_01 .navbar,
.header_style_01 .navbar-nav,
.header_style_01 .navbar-default,
.header_style_01 .nav {
    margin-bottom: 0 !important;
}

.header_style_01 .navbar-brand {
    padding: 0px 15px 0 15px;
	height: auto;
}
.navbar-brand img
{
    height: 6vh;
}

.header_style_01 .navbar-light .navbar-nav > li > a {
    border-radius: 0;
    color: #009ee3;
    font-family: 'Helvetica', Sans-Serif;
    font-size: 18px;
    font-weight: 500;    
    text-transform: capitalize;
    background-color: transparent;
}

.header_style_01 .navbar-light .navbar-nav > li a {
	color: #333333;
	padding: 10px 15px;
	display: inline-block;
}

.header_style_01 .navbar-light .navbar-nav > li a.active{
	color: #009ee3;
	border-radius: 10px;
	
}

.header_style_01 .navbar-light .navbar-nav > li:hover a,
.header_style_01 .navbar-light .navbar-nav > li:focus a {
    color: #009ee3;
	box-shadow: 0 4px 3px 0 rgba(5, 16, 44, .15);
	border-radius: 10px;
}

.header_style_01 .navbar-right > li {
    margin-top: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.header_style_01 .navbar-right > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}

li.social-links {
    margin: 0 8px;
}

li.social-links a {
    padding: 13px 0 !important;
}

.navbar-nav li {
    position: relative;	
}
.navbar-nav a
{
    font-family: 'Helvetica', Sans-Serif;
    font-weight: 800;
}
.navbar-nav span {
    font-size: 24px;
    position: absolute;
    right: 2px;
    top: 13px;
}
.navbar-light .navbar-toggler {
	padding: 10px 8px 8px 8px;
	border-radius: 0px;
	border-color: #cdd51f;
	float: right;
	margin-top: 12px;
}
.navbar-light .navbar-toggler .icon-bar{
	width: 24px;
	height: 3px;
	background: #333333;
	display: block;
	margin-bottom: 3px;
}
.navbar-light .navbar-toggler .icon-bar + .icon-bar{
	margin-bottom: 3px;
}

                                    /*SLIDER AREA*/

.slider-bg-one {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-bg-two {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-bg-three {
    background-image: url(../Images/slider3.png);
    width: 85%;
    margin-left: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider-content-area {
    height: 100vh;
    position: absolute;
    margin-left: 0;
}

.home-one-slider-otem .slider-content-area {
    height: 610px;
    position: relative;
}

.slide-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.slide-text h1 {
    color: #fff;
    font-family: 'Helvetica' sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-transform: capitalize;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.slide-text h2 span{
	color: #009ee3;
}

.slide-text h2 {
    color: #fff;
    font-family: 'Helvetica' sans-serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.slider-wrapper .owl-nav .owl-prev, .slider-wrapper .owl-nav .owl-next {
    background: #009ee3;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out 0s;
    width: 60px;
	border-radius: 10px;
}

.slider-wrapper .owl-nav .owl-prev:hover, .slider-wrapper .owl-nav .owl-next:hover {
	background: #4cbbeb;
}

.slider-wrapper .owl-nav .owl-prev {
    margin-left: 0%;
	left: 0px;
	position: absolute;
}

.slider-wrapper .owl-nav .owl-prev i{
	position: absolute;
	left: 0px;
	right: 0;
	width: auto;
	height: auto;
	background: none;
	color: #ffffff;
}

.slider-wrapper .owl-nav .owl-next {
    margin-right: 0%;
    right: 0;
	position: absolute;
}

.slider-wrapper .owl-nav .owl-next i{
	position: absolute;
	right: 0;
	left: 0px;
	width: auto;
	height: auto;
	background: none;
	color: #ffffff;
}

/*
.home-one-slider-otem::before{
	content: "";
	position: absolute;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	left: 100%;
    right: 100%;
	z-index: 1
}
*/


.slider-content-btn .btn11::after{
	background: #4cbbeb;
}

/* Btn 11  */
.btn11{    
    padding:10px 60px;
    margin: 0 10px;
    display: inline-block;
    text-decoration:none;
    font-family: 'Helvetica' sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase!important;
    letter-spacing: 1px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border-radius:0px;
    position: relative;
	border-radius: 10px;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
}


.btn11:hover{
    border: 1px solid #transparent;
	color: #ffffff;
}
.btn11::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #009ee3;
    position: absolute;  
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
       -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
         -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
            transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  } 

.btn11::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    left: 0%;
    opacity: 1;
    top: 0;
    z-index: -15;
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
       -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
         -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
            transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}
.btn11:hover::before, .btn11:hover::before{
	opacity:1;
  	-webkit-transform: translateX(100%);
	     -moz-transform: translateX(100%);
	      -ms-transform: translateX(100%);
	          transform: translateX(100%);
}
.btn11:hover::after, .btn11:hover::after{
	opacity:1;
    -webkit-transform: translateX(-100%);
	     -moz-transform: translateX(-100%);
	      -ms-transform: translateX(-100%);
	          transform: translateX(-100%);
}

                                        /*BLOCK*/

.but-set
{
    padding-left: 35%;
}
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}


                                        /*FEATURES*/


.customwidget h1 {
    font-size: 44px;
    color: #ffffff;
    padding: 15px 0 25px;
    margin: 0;
    line-height: 1 !important;
    font-weight: 500;
}

.customwidget ul {
    padding: 0;
    display: block;
    margin-bottom: 30px;
}

.customwidget li i {
    margin-right: 5px;
	color: #cdd51f;
}

.customwidget li {
    color: #ffffff;
    margin-right: 10px;
}

.image-center img {
    position: relative;
    margin: 0px;
    z-index: 10;
    padding-right: 30px;
    text-align: center;
}

.customwidget p {
    font-style: italic;
    font-size: 14px;
    padding: 0 0 10px;
}

.customwidget a span {
    position: relative;
    z-index: 3;
}
.customwidget a.btn11::before {
    z-index: 2;
}
.customwidget a.btn11::after {
    z-index: 1;
    background: #ffffff;
}

.customwidget a.btn11 {
    top: 10px;
    margin: 0px;
}
.customwidget a.btn11:hover {
    color: #ffffff !important;
}

.img-center img {
    width: 100%;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.img-center {
    margin: auto;
}

#features li p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#features li {
    display: table;
    width: 100%;
    margin: 20px 0;
    cursor: pointer;
	padding: 10px;
	-webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
	background: #003f5a;
	border-radius: 10px;
	transition: all 1s ease-in-out;
}

#features li:hover {
	transform: scale(1.07);
	transition: all 1s ease-in-out;
	z-index: 1000;
}

.features-left,
.features-right {
    padding: 0 10px;
}

.features-right li:last-child,
.features-left li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0 !important;
}

.features-right li i,
.features-left li i {
    width: 68px;
    height: 68px;
    line-height: 68px;
    display: table;
    border-radius: 10px;
    font-size: 26px;
	color: #ffffff;
    background-color: #003f5a;
    margin: 0 auto 22px;
    position: relative;
    text-align: center;
    z-index: 55;
    transition: .4s;
    padding: 0;
}

.features-right li i:hover,
.features-left li i:hover {
	background: #201e21;
}

#features i img {
    display: table;
    margin: 0 auto;
}

.features-left li i:before,
.features-right li i:before {
    text-align: center;
}

.features-right li i .ico-current,
.features-left li i .ico-current {
    opacity: 1;
    transition: .4s;
    visibility: visible;
}

.features-right li i .ico-hover,
.features-left li i .ico-hover {
    opacity: 0;
    transition: .4s;
    visibility: hidden;
    top: 19px;
}

.features-right li:hover .ico-current,
.features-left li:hover .ico-current {
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}

.features-right li:hover .ico-hover,
.features-left li:hover .ico-hover {
    opacity: 1;
    transition: .4s;
    visibility: visible;
}

.features-right i {
    float: right;
}

.fr-inner {
    text-align: center;
}

.features-left i {
    float: left;
}

.fl-inner {
    text-align: center;
}

#features h4 {
    text-transform: capitalize;
    margin: 0;
    font-family:'Helvetica', Sans-Serif; 
    font-weight: lighter;
    font-size: 19px;
	color: #ffffff;
}

                                                /*benifits*/
.service-widget{
	background: #ffffff;
}

.section.lb .service-dit h3{
	padding: 12px 0px;
}
.service-dit{
	padding: 20px 15px;
}
                                                /*FOOTER*/



.footer {
    padding: 5vh 100px 2vh !important;
    color: #999;
    background-image: linear-gradient(#09203f, #537895);
}

.footer .widget-title {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.footer .widget-title h3 {
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
}
.footer-img
{
    height: 6vh;
}
.twitter-widget li {
    margin-bottom: 0 !important;
    border: 0 !important;
}

.twitter-widget li i {
    border-right: 0 !important;
    margin-right: 0;
}
.footer-contact{}
.footer-contact ul li{
	margin-bottom: 10px;
}
.footer-contact ul li a{
	color: #ffffff;
}

.social-list{
	margin-top: 30px;
}
.footer-contact .social-list li{
	display: inline-block;
	margin: 0px;
	margin-right: 5px;
}

.social-list li a{
	display: block;
	width: 42px;
	height: 42px;
	line-height: 36px;
	border-radius: 100%;
	border: 3px solid #ffffff;
	text-align: center;
	font-size: 16px;
}
.social-list li a:hover{
	border: 3px solid #004f71;
}
.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: #004f71;
    box-sizing: border-box;
    width: 100%;
    text-align: center center;
    padding-top: 2vh;
    padding-left: 35vw;
    overflow: hidden;
    font-weight: bold;
}
.footer-distributed .footer-company-name a{
	color: #ffffff;
}
.footer-distributed .footer-company-name {
    font-weight: 600;
    color: #666;
}

                                                /*BANNER*/

.banner-bg-1::before{
	content: "";
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
    max-height: 30vh;
	z-index: -1;
	background-image: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.banner{
	position: relative;
	text-align: center;
}

.banner h2{
    padding-top: 8vh;
	color: #f1f1f1;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-left: 20px;
	position: relative;
}
.page-title-link li{
	display: inline-block;
	position: relative;
}
.page-title-link li a {
    color: #333333;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 15px;
    text-transform: uppercase;
	font-weight: 500;
}
.page-title-link li a:hover {
	color: #201e21;
}
.page-title-link li::after {
    background: #201e21;
    bottom: 8px;
    content: "";
    height: 2px;
    margin-left: -1px;
    position: absolute;
    width: 10px;
}
.page-title-link li:last-child::after {
    content: "";
    width: 0;
    height: 0;
}
.portfolio-filter ul li .btn-dark.active{
	background: #009ee3;
	color: #ffffff;
}

                                                /*ABOUT-US*/

.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 120px 0;
    position: relative;
    width: 100%;
}
.parallax.parallax-off {
    background-attachment: scroll !important;
    display: block;
    height: 40%;
    min-height: 50%;
    overflow: hidden;
    position: relative;
    background-position: center center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
    background-color: #009ee3;
}
.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}
.parallax .count{
    font-weight: bold;
}
.count-img{
    max-height: 30%;
    max-width: 30%;
}


                                                /*CONTACT-US*/
.con-btn
{
    color: black;
}
.con-btn:hover
{
    color: black;
}

                                                /*<CASE-STUDY>*/

.case-img
{
    max-height: 35vh;
    width: 100vw;
}

                                                /*PCI*/

.pci
{
    align-content: center;
    margin-left: 20%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 3%;
    max-width: 60%!important;
}
.pci-text
{
    text-align: center;
}
.icon
{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}
.Services section
{
    padding-top:3%;
    text-align: center;
    color: aliceblue;
    font-weight: 400;
    background-position: center center;
}
.tab-3
{
    width: 480px;
    height: 740px;
}

                                            /*SI*/

.si-text
{
    padding-top: 10vh;
    text-align: center;
}
.img-si
{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 3%;
    max-width: 80%!important;
    
}
.icon
{
    max-width: 130px;
    max-height: 130px;
    margin: 0 auto;
    display: block;
}
.panel 
{
    text-align: center;
    width: 80%;
    padding: 15px;
    color: white;
    border: 2px solid;
    background-image: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    margin: 0;
}
.head-panel 
{
    text-align: center;
    width: 80%;
    padding: 10px; 
}
/*
.showme
{
    display: none;  
    -webkit-transition: width 2s, height 4s; 
    transition: width 2s, height 4s;
}
.showhim:hover .showme 
{
    
    display: block;
    width: 300px;
    height: 500px;

}
*/
                                                /*CAREER FORM*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.spbg
    {
		color: #fff;
        background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
        background: linear-gradient(to bottom,  #FFB88C, #DE6262);
		font-family: 'Roboto', sans-serif;
	}
    .form-control
    {
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus
    {
		border-color: #5cb85c;
	}
    .form-control, .btn
    {           
        border-radius: 3px;
    }
	.signup-form
    {
		width: 400px;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2
    {
		color: black;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after
    {
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before
    {
		left: 0;
	}
	.signup-form h2:after
    {
		right: 0;
	}
    
    .signup-form form
    {
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form .form-group
    {
		margin-bottom: 20px;
	}
    .signup-form .btn
    {        
        font-size: 14   px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	.signup-form .row div:first-child
    {
		padding-right: 10px;
	}
	.signup-form .row div:last-child
    {
		padding-left: 10px;
	}    	
    .signup-form a
    {
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover
    {
		text-decoration: none;
	}
	.signup-form form a
    {
		color: #5cb85c;
		text-decoration: none;
	}	
	.signup-form form a:hover
    {
		text-decoration: underline;
	}
    .btn
{
    background-color: aqua;
    
}
